= wrap_layout :layout_js do
  .clearfix
  section.guide
    article  
      h1.vibrant == current_page.data["subtitle"]
      
      .article_body
        == yield

      hr
      p == "Got improvements? Help improve this document via <a href= 'https://github.com/danger/danger-js/edit/master/docs/#{current_resource.path.gsub("js/", "")}.md'>sending PRs</a>."
