@import "colors-js";
$code-grey: #eee;

@font-face {
    font-family: 'Horta';
    src: font-url('horta-webfont.woff2') format('woff2'), font-url('horta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCode-Regular';
    src: font-url('FiraCode-Regular.woff2') format('woff2'), font-url('FiraCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin code-text {
    font-family: "FiraCode-Regular", "Monaco";
}

@mixin heading-text {
    font-family: "Horta", "Arial Narrow Bold";
}

@mixin guide-body {
    font-size: 18px;
    line-height: 1.77778;
    letter-spacing: .0125em
}

@mixin widish-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

@mixin layout-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.vibrant {
    color: $vibrant;
}

.vibrant-light {
    color: $vibrant-light;
}

.vibrant-dark {
    color: $vibrant-dark;
}

.muted {
    color: $muted;
}

.muted-light {
    color: $muted-light;
}

.muted-dark {
    color: $muted-dark;
}

h1 {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4 {
    @include heading-text;
}

h1 {
    font-size: 5em;
    text-transform: uppercase;
}

h2 {
    font-size: 3.0em;
}

h3 {
    font-size: 2.5em;
    color: $muted-light;
}

h4 {
    font-size: 1.5em;
}

body {
    margin: 0;
    font-family: "Avenir", sans-serif;
    a {
        color: $muted-light;
        &:visited {
            color: $muted-dark;
        }
    }
    >header {
        @include widish-container;
        padding: 0 40px;

        p {
            display: none
        }

        > nav {
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            flex-flow: row;
            margin-top: 20px;
            ul {
                flex: 1;
                display: flex;
                justify-content: space-between;
                padding-left: 0;
            }
            img {
                width: 126px;
                height: 40px;
            }
            li {
                @include heading-text;
                list-style: none;
                text-align: right;
                font-size: 28px;
            }
            &.small {
                text-align: left;
                background-size: 67px 100%;
                height: 67px;
                margin-top: 20px;
                img {
                    margin-left: 00px;
                    margin-top: 20px;
                    margin-bottom: -4px;
                    width: 122px;
                    height: 30px;
                }
                >nav {
                    display: inline-block;
                    ul {
                        margin-left: 40px;
                    }
                    li {
                        font-size: 28px;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
    .highlight code {
        max-width: 100%;
    }
    code {
        @include code-text;
        font-size: 14px;
    }
    footer {
        @include widish-container;
        margin-top: 80px;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        flex-flow: row;
        padding-top: 40px;
        padding-bottom: 40px;
        article {
            width: 33%;
        }
        ul {
            padding-left: 0;
            li {
                @include code-text;
                margin: 4px;
                list-style: none;
                a,
                a:visited {
                    text-decoration: none;
                    color: black;
                }
                a:hover {
                    color: #867C01;
                }
            }
        }
        img.lang-logo {
            margin-right: 6px;
            position: relative;
            top: 2px;
        }
    }
}

// This is used in the about page

.colors {
    line-height: 20px;

     span {
        display: inline-block;
        font-size: 36px;
        position: relative;
        top: 8px;

        &.vibrant {
            color: $vibrant;
        }
        &.vibrant-light {
            color: $vibrant-light;
        }
        &.vibrant-dark {
            color: $vibrant-dark;
        }
        &.muted {
            color: $muted;
        }
        &.muted-light {
            color: $muted-light;
        }
        &.muted-dark {
            color: $muted-dark;
        }
    }
}

body .homepage {
    h1 {
        font-size: 3.5em;
    }
}

body section.guide {
    @include widish-container;
    padding: 0 40px;
    margin-top: 80px;
    margin-bottom: 95px;
    article {
        h1 {
            margin-top: 160px;
            margin-bottom: 80px;
        }
        .article_body {
            padding: 0 60px;
        }
        .header-link {
            color: $muted-light;
            margin-right: 10px;
            margin-left: -0.85em;
            opacity: 0.3;
            &.highlighted, &:hover {
                opacity: 1;
            }
        }
        p {
            margin-bottom: 55px;
            @include guide-body;
            code {
                background: $code-grey;
            }
        }
        ul {
            margin-top: -25px;
            margin-bottom: 40px;
            @include guide-body;
        }
        pre {
            margin-top: -30px;
            margin-bottom: 40px;
            border-left: 2px $code-grey solid;
            padding-left: 24px;
        }
    }
}

div.guide-blurb {
    width: 45%;
    display: inline-block;
    border-left: 1px border black;
    border-bottom: 1px border black;
}


.wide-row-thin-col {
    display: flex; 
    flex-flow:row;
}


@media screen and (max-width: 800px) {
    .wide-row-thin-col {
        flex-flow: column;
    }
}

.ci_sources.selectors {
    ul {
        padding: 0;
    }
    li {
        @include heading-text;
        font-size: 1.5em;
        padding: 0 10px 10px 0;
        margin-right: 0px;
        margin-bottom: 18px;
        cursor: pointer;
        list-style: none;
        
        &.highlighted {
            color: $muted-light;
            text-decoration: underline;
        }
    }
}
